#light{

background-color: #ffff99;


}
#yellow{
	background-color:yellow;
}
#green{
	background-color: orange;
}
h1{

	text-align: center;
	background-color: pink;
}
table{


	
	width:100%;
}
